<div class="row settings-row ">

    <div class="col-3">
        <span class="normal-text ">Login<span>
    </div>
    <div class="col-9 settings-field ">
        <input type="text" class="form-control" placeholder="Login" aria-label="Login">
    </div>
</div>
<div class="row settings-row ">
    <div class="col-3">
        <span class="normal-text ">Password<span>
    </div>
    <div class="col-9 settings-field ">
        <div>
            <input type="text" class="form-control" placeholder="Password" aria-label="Password">
        </div>
    </div>
</div>
<div class="row settings-row ">

    <div class="col-3">
        
    </div>
    <div class="col-9 ask-btn-pad">
        
        <button id="ask-btn" type="button" class="btn btn-primary">Log in</button><br><br>
        <a class = "margintop40" href = #>Create new account</a>
    </div>
</div>