{% load static %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid spacearound">
            <a class="navbar-brand med-text" href="{% url "base"%}">Asked Kravtsov</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <form class="d-flex search-box">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit" ><a class=" nodecoration" href="{% url "ask"%}">Ask</a></button>
            </form>
            <div class="row header">
            {% if request.user.is_authenticated %}
                <div id="user-block-login" class="user-block-visible">
                    <div class="col-4">
                        <img class "header-img" src="{{ request.user.profile.avatar.url }}">

                    </div>
                    <div class="col-8">
                        <div>{{ request.user.username }}</div>
                        <button id="settings-btn" class="btn btn-outline-primary" type="submit"><a class=" nodecoration" href="{% url "settings"%}">settings</a></button>
                        <button id="logout-btn" class="btn btn-outline-primary" type="submit"><a class=" nodecoration" href="{% url 'logout' %}">log out</a></button>
                    </div>
                </div>
            {% else %}

                <div id="user-block-logout" class="col-12 user-block-visible">
                    <button id="login-btn" type="button" class="btn btn-outline-primary "><a  class="nodecoration" href="{% url "login"%}">Log in</a></button>
                    <button id="register-btn" type="button" class="btn btn-outline-primary "><a class=" nodecoration" href="{% url "signup"%}">Register</a></button>
                </div>
            {% endif %}

            </div>
        </div>
    </nav>
</header>