{% load static %}
<div class="row question">
    <div class="col-3">
       <div class ="row-9"> 
                                <img src="{{ question.author.avatar.url }}">
                                
                            </div>
                            <div class="container-9 " >
                                <div class="row rating">
                                    <div class="col ">
                                        <img src="/media/minus.png" class="img-fluid">
                                    </div>
                                    <div class="col">
                                        <img src="/media/plus.png" class="img-fluid">
                                    </div>
                                </div>
                                <div class="row rating-points">
                                    {{ question.rating }}
                                </div>
                                <span class = "normal-text ">Author: </a>
                                    <a href="#">{{ question.author.user.username }}</a><br>
                                    <a >{{ question.date }}</a>
                            </div>
                        </div>
    </div>
    <div class="col-9">
        <a href="{% url "one_question"  question.id %}">
            <h2>
            {{question.title}}
                {% comment %} <a href="{% url " one_question " pk = question.id %}"></a>{{ question.title}} {% endcomment %}
            </h2>

        </a>
        <div>
            {{ question.text}}
        </div>
        <div class="question-footer">
            <span class="normal-text "><a href="#">answer (3)</a><span><span class = "normal-text marginleft40">Tags: <a class = "marginleft10" href="#">black-jack</a><a class = "marginleft10" href="#">bender</a><span></span>
        </div>

    </div>
</div>