{% extends "include/main_base.html" %} 
{% load static %}
{% block content%} 
    {%include "include/question_focus.html"%}
    <hr> 
{% for answer in object_list %}
    {% include "include/answer.html" %}
{% endfor %}

    <hr>
<form class="answer" action="/answer/" method="post">
    {% csrf_token %}
<div class="mb-3">
    <input type="hidden" name="pk" value="{{ question.id }}" />
    <textarea name="text" class="form-control" rows="4" placeholder="Enter your answer here"></textarea>
</div>
<div class="form-btn answer-btn">
    <button class="btn btn-primary" type="submit">Answer</button>
</div>
</form>

{% endblock content%}  