{% extends "include/main_base.html" %} 
{% load static %}
{% block content%} 
    {%include "include/question_focus.html"%}
    <hr> 
{% for answer in object_list %}
    {% include "include/answer.html" %}
{% endfor %}

    <hr>
     <div class="form-group new-question">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Your answer"></textarea>
                    </div>
                    <button id="answer-btn" type="button" class="btn btn-primary">Answer</button>
{% endblock content%}  